/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    overflow-y: scroll;
}

.sidebar {
    position:         fixed;
    top:              51px;
    bottom:           0;
    left:             0;
    z-index:          1000;
    display:          block;
    overflow-x:       hidden;
    overflow-y:       auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #F5F5F5;
    border-right:     1px solid #DDDDDD;
}

.sidebar ul {
    margin:       0;
    padding-left: 10px;
    list-style:   none;
}

.sidebar li {
    list-style-type: none;
    margin:          0;
    padding:         10px 5px 0 5px;
    position:        relative;
}

.sidebar li::before, .sidebar li::after {
    content:  '';
    left:     5px;
    position: absolute;
    right:    auto
}

.sidebar li::before {
    border-left: 1px solid #999999;
    bottom:      50px;
    height:      100%;
    top:         0;
    width:       1px
}

.sidebar li::after {
    border-top: 1px solid #999999;
    height:     20px;
    top:        25px;
    width:      10px
}

.sidebar ul.root {
    padding-left: 0;
}

.sidebar ul.root > li > a {
    padding-left: 0;
}

.sidebar ul.root > li::before, .sidebar > ul > li::after {
    border: 0
}

.sidebar li:last-child::before {
    height: 25px
}

.sidebar li.parent_li > span {
    cursor: pointer
}

.sidebar li.parent_li > a:hover, .sidebar li.parent_li > a:hover + ul li a {
    color: #000000
}

.sidebar li a {
    padding:         5px 15px;
    position:        relative;
    display:         inline-block;
    text-decoration: none
}

.sidebar .navbar-block {
    border-top:    0;
    border-left:   0;
    border-right:  0;
    border-radius: 0;
    margin-bottom: 0;
}

.tabs {
    position: fixed;
    left:     25%;
    right:    0;
    z-index:  800;
}

.tabs-container {
    margin-top: 50px;
}

.page-header {
    margin-top: 0;
}

.nav-tabs,
.nav-pills {
    position: relative;
}

.nav-tabs-block {
    background-color: #F5F5F5;
    border-bottom:    1px solid #DDDDDD;
    height:           51px;
    white-space:      nowrap;
    padding-left:     5px;
    padding-top:      6px;
}

.nav-tabs-block .close {
    float: none;
}

.response-headers.collapse, .request-headers.collapse {
    display:     block;
    overflow:    hidden;
    line-height: 20px;
    height:      40px;
}

.response-headers, .request-headers {
    overflow-x: auto;
}

pre.prettyprint {
    border:  1px solid #CCCCCC;
    padding: 9.5px;
}